[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/music/snapcontrol
ExecStart=/music/snapcontrol/run.sh

[Install]
WantedBy=multi-user.target
