[Unit]
Description=snapserver
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/docker/music/snapcontrol
ExecStart=/usr/bin/snapserver

[Install]
WantedBy=multi-user.target
