<div class="row">
  <div class="col-12">
    <h3>client</h3>
    <a ng-repeat="client in main.clients" href="http://{{client.ip}}:5000" class="btn my-2 py-2 pr-3" ng-class="{'btn-link' : !client.active, 'btn-primary' : client.active }">
      <b>{{client.name}}</b><br>
      {{client.ip}}
    </a>
  </div>
  <div class="col-12 my-2 py-2 pr-3">
    <h3>connect to</h3>
    <button
      ng-repeat="server in main.servers"
      class="btn"
      ng-click="main.connect(main.local.ip,server.ip)"
      ng-class="{'btn-link' : server.ip!=main.local.connectedTo, 'btn-primary' : server.ip==main.local.connectedTo }">
      <b>{{server.name}}</b><br>
      {{server.ip}}
    </a>
  </div>
</div>
